<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
    <title>Home</title>
</head>

<body class="bg-gray-800">
    <header class="bg-gray-800 text-pink-500 text-2xl ">
        <div class="px-8 py-3 max-w mx-auto  border-pink-500">
            <div class="flex justify-between">
                <div class="flex space-x-5">
                    <div>
                        <a class="flex items-center py-4" herf="#">
                            <svg class="w-6 h-6 mr-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                                <path
                                    d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
                                </path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
                                </path>
                            </svg>
                            <span>Esport</span>
                        </a>
                    </div>
                    <div class="hidden md:flex items-center space-x-4">
                        <a class="py-4  hover:text-white transition duration-500" href="#">Home</a>
                        <a class="py-4  hover:text-white transition duration-500" href="#">Tournament</a>
                        <a class="py-4  hover:text-white transition duration-500" href="#">Scrims</a>
                        <a class="py-4  hover:text-white transition duration-500" href="#">Standings</a>
                    </div>
                </div>
                <div class="hidden md:flex items-center space-x-4">
                    <a class="px-3 py-1  hover:text-white transition duration-500" href="#">Login</a>
                    <a class="px-3 py-1 rounded bg-pink-500 text-gray-800  hover:bg-white transition duration-500 "
                        href="#">Sign up</a>
                </div>

                <div class="md:hidden flex items-center">
                    <!-- <script type="script.js"></script> -->
                    <button id="toggle-button" onClick="myFunction" class="mobile-menu-button">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div id="mobile-menu" class="px-8 max-w mx-auto mobile-menu hidden">
            <a class="py-4 max-w mx-auto block border-b border-pink-500 text-center hover:text-white transition duration-500"
                href="#">Login</a>
            <a class="py-4 max-w mx-auto block border-b border-pink-500 text-center hover:text-white transition duration-500"
                href="#">Sign Up</a>
            <a class="py-4 max-w mx-auto block border-b border-pink-500 text-center hover:text-white transition duration-500"
                href="#">Home</a>
            <a class="py-4 max-w mx-auto block border-b border-pink-500 text-center hover:text-white transition duration-500"
                href="#">Tournament</a>
            <a class="py-4 max-w mx-auto block border-b border-pink-500 text-center hover:text-white transition duration-500"
                href="#">Scrims</a>
            <a class="py-4 max-w mx-auto block border-b border-pink-500 text-center hover:text-white transition duration-500"
                href="#">Standings</a>
        </div>
    </header>

    <nav class="bg-gray-800 text-pink-500 text-2xl text-center ">
        <h1>Search Bar</h1>
    </nav>
    <main class="text-white text-2xl p-5 mt-10">
        <%  teamInfo.forEach((team)=> { %>
        <div class="w-auto h-auto p-8 border border-pink-600 mb-5">
            <div class="flex flex-wrap justify-around mb-5">
                <h1 class="text-4xl text-pink-600 font-black"><%= team.teamName %></h1>
                <h1 class="text-4xl text-pink-600 font-black">Total Finish: <span class="text-white"><%= team.totalTeamFinish.default%></span></h1>
                <h1 class="text-4xl text-pink-600 font-black">Highest Finish: <span class="text-white"><%= team.highestTeamFinish.default%></span></h1>
                <h1 class="text-4xl text-pink-600 font-black">Total WWCD: <span class="text-white"><%= team.totalWins.default%></span></h1>
                <button
                    class="p-2 rounded transition duration-500 ease-in-out bg-pink-600 hover:bg-pink-700 transform hover:-translate-y-1 hover:scale-110 ...">
                  <a href="/editTeamInfo/<%= team._id %>">Update</a>
                </button>
            </div>
            <div>
                <div class="flex flex-wrap justify-between p-5">
                    <h1 class="text-3xl"><%= team.players.playerOne.ign %></h1>
                    <h1 class="text-3xl">BGMI ID: <%= team.players.playerOne.bgmiID %></h1>
                    <h1 class="text-3xl">Highest Kills: <%= team.players.playerOne.highestFinish.default %></h1>
                    <h1 class="text-3xl">Total Kills: <%= team.players.playerOne.totalFinish.default %></h1>
                </div>
            </div>
            <div>
                <div class="flex flex-wrap justify-between p-5">
                    <h1 class="text-3xl"><%= team.players.playerTwo.ign %></h1>
                    <h1 class="text-3xl">BGMI ID: <%= team.players.playerTwo.bgmiID %></h1>
                    <h1 class="text-3xl">Highest Kills: <%= team.players.playerTwo.highestFinish.default %> </h1>
                    <h1 class="text-3xl">Total Kills:  <%= team.players.playerTwo.totalFinish.default %></h1>
                </div>
            </div>
            <div>
                <div class="flex flex-wrap justify-between p-5">
                    <h1 class="text-3xl"><%= team.players.playerThree.ign %></h1>
                    <h1 class="text-3xl">BGMI ID: <%= team.players.playerThree.bgmiID %></h1>
                    <h1 class="text-3xl">Highest Kills: <%= team.players.playerThree.highestFinish.default %></h1>
                    <h1 class="text-3xl">Total Kills: <%= team.players.playerThree.totalFinish.default %></h1>
                </div>
            </div>
            <div>
                <div class="flex flex-wrap justify-between p-5">
                    <h1 class="text-3xl"><%= team.players.playerFour.ign %></h1>
                    <h1 class="text-3xl">BGMI ID: <%= team.players.playerFour.bgmiID %></h1>
                    <h1 class="text-3xl">Highest Kills: <%= team.players.playerThree.highestFinish.default %> </h1>
                    <h1 class="text-3xl">Total Kills: </h1>
                </div>
            </div>
            <div>
                <div class="flex flex-wrap justify-between p-5">
                    <h1 class="text-3xl"><%= team.players.playerFive.ign %></h1>
                    <h1 class="text-3xl">BGMI ID: <%= team.players.playerFive.bgmiID %></h1>
                    <h1 class="text-3xl">Highest Kills: <%= team.players.playerFive.highestFinish.default %> </h1>
                    <h1 class="text-3xl">Total Kills: </h1>
                </div>
            </div>
            <div>
                <div class="flex flex-wrap justify-between p-5">
                    <h1 class="text-3xl"><%= team.players.playerSix.ign %></h1>
                    <h1 class="text-3xl">BGMI ID: <%= team.players.playerSix.bgmiID %></h1>
                    <h1 class="text-3xl">Highest Kills: <%= team.players.playerSix.highestFinish.default %> </h1>
                    <h1 class="text-3xl">Total Kills: </h1>
                </div>
            </div>
        </div>
        <% }) %>
    </main>
</body>

</html>